.sing-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .button {
    display: flex;
    justify-content: space-between;
  }

  button {
    @media screen and (max-width: 800px) {
      min-width: unset;
      padding: 0 20px;
    }
  }

  @media screen and (max-width: 800px) {
    width: 300px;
  }
}
